@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root{#006400
    --branco: white;
    --cor-de-fundo:background-image: radial-gradient(circle at 120.71% 50%, #a4ec79 0, #8be373 25%, #6cd86c 50%, #47cd66 75%, #00c464 100%);;
    --fundo-senha: #00244D;
    --fundo-texto:#FF0000;
    --borda: #0075FF;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}
*{
    font-weight: 400;
}
body{background-image: radial-gradient(circle at 50% 50%, #ffe28b 0, #ffe87c 5%, #ffed6d 10%, #fff15e 15%, #fff551 20%, #fff745 25%, #fff93b 30%, #e6f934 35%, #c7f832 40%, #a4f635 45%, #79f23c 50%, #39ee47 55%, #00ea56 60%, #00e567 65%, #00e17b 70%, #00de8f 75%, #00daa6 80%, #00d7bd 85%, #00d5d5 90%, #00d3ee 95%, #00d1ff 100%);
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.titulo-principal{#1C1C1C	
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundario{background-image: radial-gradient(circle at 120.71% 50%, #a4ec79 0, #8be373 25%, #6cd86c 50%, #47cd66 75%, #00c464 100%);
    font-size: 24px;
}

.conteudo-titulo{#FF0000
  text-align: center;
  margin-top: 80px;
}

.conteudo-senha{
    margin-top: 80px;
    background: var(--fundo-senha);
    padding: 24px;
    border-bottom:6px solid var(--borda)
}

#campo-senha{
        background-color: var(--fundo-senha);
        border: none;
        color: var(--branco);
        font-family: var(--roboto-mono);
        font-size: 40px;
        width: 70%;
}
#campo-senha:focus{
    outline: none;
}
.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}
.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}
.parametro{background-image: radial-gradient(circle at 120.71% 50%, #a4ec79 0, #8be373 25%, #6cd86c 50%, #47cd66 75%, #00c464 100%);
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 32px;
    padding: 24px;
}

.parametro-titulo{
    font-family: var(--roboto-mono);
    font-size: 28px;
}

.parametro-senha__titulo{background-image: radial-gradient(circle at 120.71% 50%, #a4ec79 0, #8be373 25%, #6cd86c 50%, #47cd66 75%, #00c464 100%);
  font-size: 24px;
}

.parametro-coluna__senha{background-image: radial-gradient(circle at 120.71% 50%, #a4ec79 0, #8be373 25%, #6cd86c 50%, #47cd66 75%, #00c464 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parametro-senha{
    width: 50%;
    margin: 0 auto;
}

.parametro-senha-botoes{#000000
    display: flex;
}


.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding: 24px;
    font-size: 24px;
    cursor: pointer;
}

.parametro-senha__texto{
    padding: 24px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
    font-size: 24px;
}
label{
    font-size: 20px;
}

.checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.barra{
    background-color: var(--fundo-senha);
    height: 30px;
    width: 100%;
}

.forca{
    height: 30px;
    position: relative;
    bottom: 30px;
}
.fraca{
    
    width: 25%;
    background-color: #E71B32; 
}

.media{
    background-color: #FAF408;
    width: 50%;
}

.forte{
    background-color: #00FF85;
    width: 100%;
}

.parametro-senha-textos{
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .parametro-coluna__senha{
        flex-direction: row;
    }
}